#announcement {
	color: #f7fbff;
	background-color: #51a0ff;
	border: 7px solid #2125b5;
	padding: 4px;
}
#testing{
	
}
.stats{
	right: 20px;
	position: relative;
}
.stat_item{
	right: 3px;
	list-style-type: none;
}
.issue{
	background-color: #ffe3da;
	border: 1px solid red;
	padding: 2px 8px 2px 7px;
	color: #406dfa;
}
.stat_sub_category{
	text-decoration: underline;

}
