#announcement {
	color: #f7fbff;
	background-color: #51a0ff;
	border: 7px solid #2125b5;
	padding: 4px;
}
#testing{
	
}
.stats{
	right: 20px;
	position: relative;
}
.stat_item{
	right: 3px;
	list-style-type: none;
}
.issue{
	background-color: #ffe3da;
	border: 1px solid red;
	padding: 2px 8px 2px 7px;
	color: #406dfa;
}
.stat_sub_category{
	text-decoration: underline;

}
label{
	padding-right:8px;
	
}



.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/sort_asc.png);
}

.pretty th .desc {
  background-image: url(/images/sort_desc.png);
}

.camper_collage_links{
	margin-bottom: 10px;
}

#development{
  background-color:blue; 

}
