#announcement {
	color: #f7fbff;
	background-color: #51a0ff;
	border: 7px solid #2125b5;
	padding: 4px;
}
#testing{
	
}
.stats{
	right: 20px;
	position: relative;
}
.stat_item{
	right: 3px;
	list-style-type: none;
}
.stat_sub_category{
	text-decoration: underline;
	
}
#notice{
	border: 2px solid #009f61;
	background-color: #abff9d;
	color: #4761ff;
	font-size: large;
	margin-bottom: 5px;
	padding: 3px;
}