<h1>Editing pack</h1>

<% form_for(@pack, :url=>{:action => 'update', :id=>@pack}) do  |f| %>
  <%= render :partial => f, :locals=>{:f=>f} %>
  <%= submit_tag "Update" %>
<% end %>


<%= link_to 'Show', :action => 'show', :id => @pack %> |
<%= link_to 'Back', :action => 'list' %>
