<h1>New pack</h1>

<% form_for(@pack, :url=>{:action => 'create', :id=>@pack}) do  |f| %>
  <%= render :partial => f, :locals=>{:f=>f} %>
  <%= submit_tag "Create" %>
<% end %>


<%= link_to 'Back', :action => 'list' %>
