<h2>Pack name: <%= @pack.name.titleize %></h3>
<h3>Current Camper Count: <%= @pack.campers.count %></h3>
<table class="rooms">
  <tr>
    <th>Camper Id</th>
    <th>Last</th>
    <th>First</th>
    <th>Position</th>
  </tr>
    <%= render @pack.campers %>
</table>
