<h1>Editing rights</h1>

<% form_for  @right, :url => { :action => "update" } do |f| %>
      <%= render :partial => f, :locals => { :f => f } %>
      <%= f.submit 'update' %>
 <% end %>


<%= link_to 'Show', @right %> |
<%= link_to 'Back', {:action=>'index'} %>
