<h1>Room <%= @room.name %></h1>

<strong>Pack:</strong> <%= @room.pack_name %>
<table class="rooms">
  <tr>
    <th>Camper Id</th>
    <th>Last</th>
    <th>First</th>
    <th>Position</th>
  </tr>
    <%= render @room.campers %>
</table>

