<%= error_messages_for 'pack' %>
  <%= error_messages_for 'unit' %>
  <p>
    <label for='unit_name'>Name:</label>
    <%= text_field :unit, :name %>
  </p>
<div>
	<label for="unit_camp_price">Camp Price: </label>
	<%= text_field :unit, :camp_price %>
</div>