<h3>Welcome to the Virginia Cooperative Extension Receipt Service</h3>
<% unless logged_in? %>
<h4>In order to be able to access the system you must be authenticated.</h4>
<p>If you require access to this system and do not currently have it please contact <a href="mailto:ddraper@vt.edu">Donna Draper</a></p>
<% form_tag do -%>
<p><label for="login">Username: </label>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password: </label>
<%= password_field_tag 'password' %></p>

<!--Git upload-->
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>


<p><%= submit_tag 'Log in' %></p>
<% end -%>

<% else %>
Please select from the menu options above!

<% end %>
