 <%= render "shared/error_messages", :target => @bus %>  

<!--[form:bus]-->
<p><label for="bus_name">Name</label><br/>
<%= text_field 'bus', 'name'  %></p>

<p><label for="bus_capacity">Capacity</label><br/>
<%= text_field 'bus', 'capacity'  %></p>

<p><label for="bus_info">Info</label><br/>
<%= text_area 'bus', 'info'  %></p>
<!--[eoform:bus]-->

